body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
    width: 25px;
	border-radius: 5px;
}

.item {
	text-align: center;
}

/*background-color: #488bfa;
border: 2px solid #ffffff;
color: #ffffff;
padding: 12px 26px;
border-radius: 10px;
font-size: 17px;
*/

.btn {
    display: inline-flex;
    align-items: center;
	padding: 10px 100px;
    vertical-align: middle;
    padding-left: 20px;
	border: none;
	background: rgb(128, 128, 128);
	border-radius: 10px;
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	transition: background .2s linear;
}

.btn-fix > * {
  margin-right: 0.5ch;
}
.btn:hover {
	background: lightblue;
}

.usercard {
	text-align: center;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/